body{
    background-color: gray;
} 
p {
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color: rgb(194, 191, 191);
}
.btn{
    text-align: center;
    font-size: small;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    background-color: red;
    margin-left: 40%;
    margin-top: 2%;
}

.child {
    width: 400px;
    height: 100px;
    background-color: rgb(31, 30, 30);
    position: absolute;
    top: 45%;
    left: 38%;
    margin: -25px 0 0 -25px;
  }
  
  